<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/OneDrive/Document/Experience/juaraCoding_PT.DIKA/Day16_Selenium/pageobjectfactory">
        <classes>
        <class name="com.juaracoding.LoginTest">
            <methods>
                <include name="testValidLogin"/>
                <include name="testInvalidLogin"/>
                <include name="testDisplayImageCompanyBranding"/>
            </methods>
        </class>
        </classes>
    </test>
    <test verbose="2" preserve-order="true"
          name="C:/Users/ASUS/OneDrive/Document/Experience/juaraCoding_PT.DIKA/Day16_Selenium/pageobjectfactory/src/test/java/com/juaracoding/RecruitmentTest.java">
        <classes>
            <class name="com.juaracoding.RecruitmentTest">
                <methods>
                    <include name="testAddCandidate"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
